[user]
	name = Christoph Safferling
	email = christoph.safferling@ubisoft.com
[gui]
[core]
	autocrlf = true
	excludesfile = ~/.gitignore_global
[http]
#	proxy = proxy.ubisoft.org:3128
#	proxy = 10.26.0.19:3128
#	proxy = proxy.ubisoft.org:3128
[https]
#	proxy = proxy.ubisoft.org:3128
#	proxy = 10.26.0.19:3128
#	proxy = proxy.ubisoft.org:3128
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
